*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.inline-block{
    display: inline-block;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.center-container{
    width: 77%;
    min-width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.highlight{
    color: #fa9700;
}
.main-header{
    min-width: 980px;

}
.header-banner{
    height: 36px;
    background-color: #ffd705;
    line-height: 36px;
    font-size: 12px;
}
.header-banner .position-container{
    color: #6b450a;
}
.header-banner .position-container i{
    font-size: 20px;
    position: relative;
    top: 3px;
}
.header-banner .position-container .position-switch{
    color: #fb4e44;
}
.header-banner .client-container{

}
.header-banner .login-container{

}
.header-banner .login-container a{
    padding: 0 12px;
    color: #6B450A;
}
.header-banner .login-container .register:after{
    content: "|";
    position: relative;
    left: 12px;
}
.header-banner .client-container .client-mobile,.header-banner .client-container .client-web{
    width: 60px;
    height: 36px;
    color: #6B450A;
    margin-left: 20px;
}
.header-banner .client-container .client-mobile .icon-mobile{
    width: 20px;
    height: 20px;
    background: url("../img/header.png") no-repeat -50px -80px;
    vertical-align: -5px;
}
.header-banner .client-container .client-web .icon-web{
    width: 20px;
    height: 20px;
    background: url("../img/header.png") no-repeat -100px -80px;
    vertical-align: -5px;
}
.header-nav{
    /*min-width: 980px;*/
    height: 80px;
}
.header-nav .logo{
    width: 166px;
    height: 69px;
    position: relative;
    top: 10px;
}
.header-nav .nav-container{
    margin: 0 50px;
    width: 250px;
    height: 80px;
    position: relative;
}
.header-nav .nav-container .nav-ul{
    overflow: hidden;
    width: 250px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-bottom: -10px;
}
.header-nav .nav-container .nav-ul li{
    width: 80px;
    height: 16px;
    float: left;
    border-right: 1px solid #dcdcdc;
    text-align: center;
}
.header-nav .nav-container .nav-ul li:last-child{
    border: none;
}
.header-nav .nav-container .nav-ul li a{
    font-size: 16px;
    color: #898989;
}
.header-nav .search-container,.search-container-fix{
    width: 421px;
    height: 38px;
    margin-top: 21px;
    overflow: hidden;
    background: url("../img/header.png") no-repeat;
}
.header-nav .search-container input,#search-input-fix{
    width: 270px;
    height: 14px;
    display: block;
    padding: 7px 0;
    color: #535353;
    border: none;
    margin: 5px 0 5px 43px;
    outline: none;
}
#search-input-fix{
    background-color: #ffd705;
    width: 278px;
}
.header-nav .search-container .search-btn,.header-fix .search-btn-fix{
    display: inline-block;
    width: 100px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    text-align: center;
    color: #6B450A;
    cursor: pointer;
}
.header-fix .search-btn-fix{
    color: #fff;
}
.main-body{
    background-color: #f5f5f5;
    padding-top: 1px;
    padding-bottom: 30px;
}
.main-footer{
    background-color: #f5f5f5;
    border-top: 2px solid #ffd705;
}
.main-footer .footer-ul{
    overflow: hidden;
    margin-top: 30px;
}
.main-footer .footer-ul>li{
    display: inline-block;
    width: 15%;
    float: left;
    border-left: 1px dotted #a5a5a5;
    padding-top: 20px;
    padding-left: 29px;
    margin: 1px;
}
.main-footer .footer-ul .footer-ul-last-li{
    float: right;
    border-right: 1px dotted #a5a5a5;
}
.main-footer .footer-msg-container{
    display: table-cell;
    vertical-align: middle;
}
.main-footer .footer-msg-container .footer-msg-header{
    font-size: 14px;
    font-weight: 700;
}
.main-footer .footer-msg-container .footer-msg-ul{
    list-style: square;
    padding-top: 10px;
    margin-left: 15px;
}
.main-footer .footer-msg-container .footer-msg-ul li{
    clear: both;
    padding-top: 5px;
}
.main-footer .footer-msg-container .footer-msg-ul li a{
    color: #3E4545;
    font-size: 12px;
}
.main-footer .footer-icon-container{
    width: 52px;
    height: 49px;
    margin: 10px auto;
}
.main-footer .footer-icon-container .i-avatar{
    width: 52px;
    height: 49px;
    background: url("../img/icon.png") no-repeat 0 -244px;
}
.main-footer p{
    text-align: center;
    color: #555;
    font-size: 14px;
}
.main-footer .footer-msg-phoneNum{
    font-size: 18px;
    padding: 5px 0;
}
.main-footer .footer-msg-tiny{
    font-size: 12px;
    color: #555;
    padding-top: 5px;
}
.main-footer .copyright-container{
    margin-top: 30px;
    text-align: center;
    color: #8a8a8a;
    font-size: 12px;
}
.main-footer .copyright-container .record-container{
    width: 110px;
    height: 40px;
    margin: 30px auto;
    background: url("../img/record.png") no-repeat;
}
.download-client-container{
    position: fixed;
    bottom: 150px;
    right: 30px;
    width: 90px;
    height: 115px;
    padding-top: 65px;
    cursor: pointer;
    background: url("../img/code.png") no-repeat 0 -900px;
}
.download-client-container .icon-download{
    display: block;
    width: 90px;
    height: 90px;
    background: url("../img/code.png") no-repeat 5px -1540px;
}
.download-client-container i:last-child{
    position: absolute;
    right: 2px;
    color: #666666;
}
.scrollTop-container,.feedback-container{
    position: fixed;
    width: 42px;
    height: 42px;
    right: 78px;
    bottom: 90px;
    font-size: 42px;
    text-align: center;
    background-color: #fff;
    color: #666666;
    cursor: pointer;
}
.feedback-container{
    bottom: 30px;
    font-size: 12px;
    letter-spacing: 2px;
    display: table-cell;
    vertical-align: middle;
}
.feedback-container p{
    display: inline-block;
    height: 30px;
    padding: 6px;
    line-height: 16px;
    color: #686868;
}